{% extends "layout.html" %}
{% from "components/kpi/activity_kpi.html" import activity_kpi_card %}
{% from "components/kpi/marks_kpi.html" import new_marks_kpi_card, total_marks_kpi_card, marks_ratio_kpi_card %}
{% from "components/kpi/users_kpi.html" import new_users_kpi_card, total_users_kpi_card %}
{% from "components/kpi/content_maker_kpi.html" import today_content_maker_kpi_card %}
{% block header %}
    <div class="d-flex justify-content-between align-items-center">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    KPI Dashboard
                </h2>
            </div>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for(__name__ ~ ':index') }}">Admin</a>
            </li>
            <li class="breadcrumb-item active">Home</li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {# KPI Cards Grid - Adaptive Layout #}
        <div class="row g-3">
            {{ activity_kpi_card(active_kpi) }}
            {{ new_users_kpi_card(users_kpi) }}
            {{ total_users_kpi_card(users_kpi) }}
            {{ total_marks_kpi_card(marks_kpi) }}
            {{ new_marks_kpi_card(new_marks_kpi) }}
            {{ today_content_maker_kpi_card(content_maker_kpi) }}
            {{ marks_ratio_kpi_card(marks_kpi) }}
        </div>
    </div>
{% endblock content %}
